<script src="/socket.io/socket.io.js"></script>
<script src="js/index.js"></script>
<link rel="stylesheet" href="css/main.css">
<h3>SOCKET CLIENTE</h3>
<form id="form">
    <label>Product:</label><input type="text" name="title" id="title">
    <label>Price:</label><input type="number" name="price" id="price">
</form>
<div id= "btnCreate" class = "btn-create">Create</div>

<p id="products"></p>


